body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  
  .dark-theme {
    background-color: #121212;
    
  }
  
  .light-theme {
    background-color: #FEF7FF;
  }


  